<a href="https://colab.research.google.com/github/Gaurav7004/NEWS_ARTICLES_DEPLOYMENT/blob/main/ALL_NEWSPAPERS_ARTICLES_EXTRACTION_13th_Jan_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [2]:
url='https://www.financialexpress.com/economy/page/'
agent = {"User-Agent":'Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36'}
page=requests.get(url,headers=agent)
soup=BeautifulSoup(page.text,'html.parser')

In [3]:
page_links=[]

for page_num in range(1,5):
  page_url=url+str(page_num)
  page_links.append(page_url)

In [4]:
page_links[0:4]

['https://www.financialexpress.com/economy/page/1',
 'https://www.financialexpress.com/economy/page/2',
 'https://www.financialexpress.com/economy/page/3',
 'https://www.financialexpress.com/economy/page/4']

In [5]:
str_for_search = []

# importing modules
import urllib.request 

for url in page_links:
  # opening the url for reading
  html = urllib.request.urlopen(url) 

  # parsing the html file
  htmlParse = BeautifulSoup(html, 'html.parser')

  # print(htmlParse)
  
  # getting all the paragraphs
  for para in htmlParse.find_all('div', class_='entry-title'):
      lis = para.find_all('a')
      str_for_search.append(lis)

In [6]:
str(str_for_search[0])

'[<a href="https://www.financialexpress.com/economy/pakistan-to-grow-at-3-4-in-current-fiscal-world-bank/2405969/" rel="bookmark">Pakistan to grow at 3.4% in current fiscal: World Bank</a>]'

In [7]:
Final_LIST = []

## Extracting required News Articles Link
for i in range(len(str_for_search)):
  regex="(?P<url>https?://[^\s]+)"

  matches = re.findall(regex, str(str_for_search[i]))
  Final_LIST.append(matches[0])

In [8]:
Final_LIST[0]

'https://www.financialexpress.com/economy/pakistan-to-grow-at-3-4-in-current-fiscal-world-bank/2405969/"'

In [14]:
## Lists to get dates and news articles
List_articles = []
List_date = []
List_month = []
List_year = []

for i in range(len(Final_LIST)):
  # opening the url for reading
  html = urllib.request.urlopen(str(Final_LIST[i]))

  # parsing the html file
  htmlParse = BeautifulSoup(html, 'html.parser')
  
  # getting all the paragraphs of articles
  for para in htmlParse.find_all(['div'], class_='entry-content wp-block-post-content'):
    # txt = para.find_all('p')
    List_articles.append(para.get_text())

  # Getting respective month, date, year the article published
  for det in htmlParse.find_all('div', class_='ie-network-post-meta-date'):
    dt = det.get_text()
    dt = dt.split(' ')
    List_month.append(dt[0])
    List_date.append(dt[1])
    List_year.append(dt[2])

In [19]:
List_articles[109]

'\nCongress leader Priyanka Gandhi Vadra on Thursday released the first list of 125 candidates for the upcoming assembly elections in Uttar Pradesh, giving ticket to Unnao rape victim’s mother Asha Singh. \n“In the first list of 125 candidates for UP polls, 50 candidates are women, including Asha Singh, mother of the Unnao rape victim. From Shahjahanpur, we have fielded Asha worker Poonam Pandey who led an agitation for a raise in honorarium,” said Gandhi while addressing the media. \nThe Congress general secretary said that the 125 candidates in the list include 40 per cent women and 40 per cent youth, adding that with the historic move, the party hopes to bring in “a new kind of politics in the sate”.  \n\nCongress releases first list of candidates for #UttarPradeshElection2022 pic.twitter.com/fgDYWhIjEe— Supriya Bhardwaj (@Supriya23bh) January 13, 2022\n\nThe list also includes Ramraj Gond, who had spearheaded the Gond tribals’ legal battle over land in Umbha village in Sonbhadra. Gond is the president of the Sonbhadra district Congress committee.\nThe other candidates include Poonam Pandey, an Asha worker who was allegedly roughed up by the police while trying to meet UP Chief Minister Yogi Adityanath in Shahjahanpur in November last year, and Congress leader Sadaf Jafar, who was in jail in connection with the anti-CAA stir in the state.\nThe BJP is also expected to release its list of candidates for Uttar Pradesh today where the first of the seven-phased polls will be held on February 10. The last date of nominations for the first phase is January 21. \nThe Congress, which is struggling to regain its lost ground in Uttar Pradesh, has decided to go it alone in the UP polls with the party handing the responsibility to Priyanka Gandhi. \nThe UP polls are expected to turn into a two-way contest between the BJP and the Samajwadi Party. While pre-poll surveys have predicted a victory for the BJP, the series of defections faced by the party seem to have given the Samajwadi Party a shot in the arm with the polls less than a month away. \n'

In [18]:
List_date[109]

''

In [16]:
## Newspaper Name
Newspaper_Name = ['The Financial Express'] * len(List_articles)

In [22]:
df = pd.DataFrame(list(zip(Newspaper_Name, List_articles, List_year, List_month, List_date)), columns =['Newspaper Name', 'Article', 'Year', 'Month', 'Date'])
df.to_excel('News_Articles_Scraped_Data.xlsx')

In [21]:
df

            Newspaper Name  ... Date
0    The Financial Express  ...  13,
1    The Financial Express  ...  13,
2    The Financial Express  ...  13,
3    The Financial Express  ...  13,
4    The Financial Express  ...
..                     ...  ...  ...
108  The Financial Express  ...  13,
109  The Financial Express  ...
110  The Financial Express  ...  15,
111  The Financial Express  ...  13,
112  The Financial Express  ...  10,

[113 rows x 5 columns]